<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>退出</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../static/lib/layui/css/layui.css">
    <link href="../static/lib/bootstrap/css/bootstrap.css" rel="stylesheet">
   <style>
       #main {
           background-size: cover;
           margin-top: 5px;
           background:url(static/images/timg.jpg);
           background-size: cover;
           border-radius: 10px;
           /*  border-radius: 15px;*/
           height: 750px;
           overflow: hidden;
           border: 1px solid grey;
           box-shadow: 5px 5px 5px gainsboro;
       }
       #main>div{
           text-align: center;
           color: white;
           margin-top: 200px;
       }
   </style>
</head>
<body>
<!--主体-->
<div id="main" class="layui-main">
    <div>
        <span style="font-size: 50px">请 取 走 您 的 磁 卡 ！</span>
        <h3>欢迎下次光临</h3>
    </div>
</div>

<script src="../static/lib/jquery/jquery.min.js"></script>
<script src="../static/lib/layui/layui.js"></script>
<script src="../static/lib/bootstrap/js/bootstrap.js"></script>
<script>
</script>
</body>
</html>