<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>密码修改页面</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../static/css/password.css" th:href="@{/css/password.css}">
    <link rel="stylesheet" href="../static/lib/layui/css/layui.css" th:href="@{/lib/layui/css/layui.css}">
    <link href="../static/lib/bootstrap/css/bootstrap.css" th:href="@{/lib/bootstrap/css/bootstrap.css}"
          rel="stylesheet">
</head>
<body>
<!--主体-->
<div id="main" class="layui-main">
    <div>
        <span id="passwordText" style="font-size: 50px">请 输 入 新 密 码</span>
        <h3>please input the password</h3>
        <div class="password-div">
            <label for="password" class="password-lable">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <form id="my_form" th:action="@{/againPassword}" th:method="post">
                    <input id="password" type="password" name="password" maxlength="6"  autofocus="autofocus" th:autocomplete="off">
                </form>
            </label>
        </div>
    </div>
    <footer>
        <a th:href="@{~/index}"> <img width="29%" src="../static/images/return.png" th:src="@{/images/return.png}"></a>
        <img id="m2" src="../static/images/huishan.png" th:src="@{/images/huishan.png}">
    </footer>
</div>

<script src="../static/lib/jquery/jquery.min.js" th:src="@{/lib/jquery/jquery.min.js}"></script>
<script th:src="@{/lib/layui/layui.js}"></script>
<script th:src="@{/lib/bootstrap/js/bootstrap.js}"></script>
<script type="text/javascript">
    /*输入框js事件*/
    $(".password-div input").on("input", function (e) { //标签为password-div下的input添加oninput事件
        var number = 6;   //定义输入最大值
        var pw = $("#password").val(); //定义pw为name是password的input框的输入值
        var list = $(".password-div ul li");  //定义list是li
        for (var i = 0; i < number; i++) {    //for循环遍历将·放入li标签
            if (pw[i]) {
                $(list[i]).text("·");
            } else {
                $(list[i]).text("");
            }
            ;
        }
        ;
        if (pw.length == 6) {
            $("#my_form").submit();
        }
    });

    $(".password-div ul").click(function () {
        $("#password").val("");
        $("#password").focus();
        $(".password-div ul li").text("");
    });
    /*退卡*/
    $("#exit").click(function () {
        window.location.href = "exit.html"
    })
</script>
</body>
</html>